::-webkit-scrollbar {
  display: none;
  




}








*{
  margin: 0px;


}


body{

  background-image: url("https://media.istockphoto.com/vectors/blue-sky-with-white-clouds-background-border-of-clouds-simple-cartoon-vector-id1138179296?k=6&m=1138179296&s=612x612&w=0&h=DhIzmPmdkAi-L-K17qsTHGDYtTMlQzOjIeic7wki3v4=");


  background-size: 100% 100vh;
}

