::-webkit-scrollbar {
  display: none;
  




}








*{
  margin: 0px;


}


body{

  background-image: url("https://im4.ezgif.com/tmp/ezgif-4-e7719c0fc2ee.png");


  background-size: 100% 150vh;
  background-color: #caf0f8;
}

