::-webkit-scrollbar {
  display: none;
  




}








*{
  margin: 0px;


}


body{

  background-image: url("https://i.postimg.cc/xCwFrNGV/logo-color-padding-removebg-preview-1.jpg");


  background-size: 100% 150vh;
  background-color: #caf0f8;
}

